data-marking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:marking="http://docs.oasis-open.org/cti/ns/stix/data-marking-1" xmlns:stixCommon="http://docs.oasis-open.org/cti/ns/stix/common-1" targetNamespace="http://docs.oasis-open.org/cti/ns/stix/data-marking-1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.1" xml:lang="en">
	<xs:annotation>
		<xs:documentation> STIX[TM] Version 1.2.1. Committee Specification Draft 01 / Public Review Draft 01</xs:documentation>
		<xs:appinfo>
			<schema>Data Marking</schema>
			<version>1.2.1</version>
			<date>12/15/2015 9:00:00 AM</date>
			<short_description>Data_Marking - Schematic implementation for an independent, flexible, structured data marking expression.</short_description>
			<terms_of_use>Copyright (c) OASIS Open 2016. All Rights Reserved.
			Distributed under the terms of the OASIS IPR Policy, [http://www.oasis-open.org/policies-guidelines/ipr], AS-IS, WITHOUT ANY IMPLIED OR EXPRESS WARRANTY; there is no warranty of MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE or NONINFRINGEMENT of the rights of others.</terms_of_use>
			<terms_of_use> Portions copyright (c) United States Government 2012-2016.  All Rights Reserved.
			 Source: http://docs.oasis-open.org/cti/stix/v1.2.1/csprd01/schemas/
			 Latest version of the specification: REPLACE_WITH_SPECIFICATION_URL
			 TC IPR Statement: https://www.oasis-open.org/committees/cti/ipr.php
            </terms_of_use>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://docs.oasis-open.org/cti/ns/stix/common-1" schemaLocation="common.xsd"/>
	<xs:complexType name="MarkingType">
		<xs:annotation>
			<xs:documentation>The MarkingType specifies a set of zero or more data marking specifications to be applied to the STIX content.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Marking" type="marking:MarkingSpecificationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Marking property characterizes a data marking specification that is applied to STIX content.  Information captured includes the structured elements to which the data marking is to be applied, a set of marking structures, and source information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarkingStructureType">
		<xs:annotation>
			<xs:documentation>The MarkingStructureType characterizes the marking information to be applied to STIX content.  </xs:documentation>
			<xs:documentation>This type is defined as abstract and is intended to be extended to enable the expression of any structured or unstructured data marking mechanism. The data marking structure is simply a mechanism for applying existing marking systems to nodes. The data marking systems themselves define the semantics of what the markings mean, how multiple markings to the same node should be applied, and what to do if a node is unmarked.</xs:documentation>
			<xs:documentation>It is valid per this specification to mark a node with multiple markings from the same system or mark a node across multiple marking systems. If a node is marked multiple times using the same marking system, that system specifies the semantic meaning of multiple markings and (if necessary) how conflicts should be resolved. If a node is marked across multiple marking systems, each system is considered individually applicable. If there are conflicting markings across marking systems the behavior is undefined, therefore producers should make every effort to ensure documents are marked consistently and correctly among all marking systems.</xs:documentation>
			<xs:documentation>STIX provides two marking system extensions: Simple, and TLP. Those who wish to use another format may do so by defining a new extension to this type. The STIX-provided extensions are:</xs:documentation>
			<xs:documentation>1. Simple: The Simple marking structure allows for the specification of unstructured statements through the use of a string. The type is named SimpleMarkingStructureType and is in the http://docs.oasis-open.org/cti/ns/stix/extensions/data-marking/simple-1 namespace. The extension is defined in the file extensions/marking/simple-marking.xsd or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/extensions/data-marking/simple-data-marking.xsd.</xs:documentation>
			<xs:documentation>2. TLP: The TLP marking structure allows for the expression of Traffic Light Protocol statements through the use of a simple enumeration. The type is named TLPMarkingStructureType and is in the http://docs.oasis-open.org/cti/ns/stix/extensions/data-marking/tlp-1 namespace. The extension is defined in the file extensions/marking/tlp-marking.xsd or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/extensions/data-marking/tlp-data-marking.xsd.</xs:documentation>
			<xs:documentation>3. Terms of Use: The Terms of Use marking structure allows for the specification of unstructured terms of use statements through the use of a string. The type is named TermsOfUseMarkingStructureType and is in the http://docs.oasis-open.org/cti/ns/stix/extensions/data-marking/terms-of-use-1 namespace. The extension is defined in the file extensions/marking/terms-of-use-marking.xsd or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/extensions/data-marking/terms-of-use-data-marking.xsd.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="marking_model_name" type="xs:QName">
			<xs:annotation>
				<xs:documentation>The marking_model_name property specifies the name of the marking model to be applied within the marking structure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="marking_model_ref" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>The marking_model_ref property specifies a reference URI for the location of the authoriative descriptive source on the marking model to be applied within the marking structure.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:QName">
			<xs:annotation>
				<xs:documentation>The id property specifies a globally unique identifier for the marking structure instance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="idref" type="xs:QName">
			<xs:annotation>
				<xs:documentation>The idref property specifies a reference to the identifier of a marking structure instance specified elsewhere; the referenced data marking should be evaluated as if it were located where the data marking reference is defined. When idref is specified, the id property MUST NOT also be specified, any other properties of MarkingStructureType SHOULD NOT hold any content, and MarkingStructureType SHOULD NOT be extended.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MarkingSpecificationType">
		<xs:annotation>
			<xs:documentation>The MarkingSpecificationType characterizes a data marking specification that is applied to the STIX content.  Information captured includes the structured elements to which the data marking is to be applied, a set of marking structures, and source information.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Controlled_Structure" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					The Controlled_Structure property specifies the full explicit set of STIX structured elements to which the marking is to be applied. The controlled structure MUST explicitly select all structured elements that the marking applies to; selecting a parent structured element may not imply that the marking also applies to its children. Specific syntax for how the set of STIX structured elements will be specified is dependent on the particular syntactic implementation (XML, JSON, etc.) of the STIX language and MUST be explicitly specified in a separate binding specification for that syntactic implementation (e.g. a STIX XML Binding Specification).  For example, a STIX XML Binding Specification could specify XPath 1.0  as an appropriate choice for the syntax of the Controlled_Structure property. </xs:documentation>
					<xs:documentation>The XPath expression is NOT recursive and the marking structure does NOT apply to child nodes of the selected node. Instead, the expression must explicitly select all nodes that the marking is to be applied to including elements, attributes, and text nodes.</xs:documentation>
					<xs:documentation>The context root of the XPath statement is this Controlled_Structure element. Any namespace prefix declarations that are available to this Controlled_Structure element are available to the XPath.</xs:documentation>
					<xs:documentation>Note that all Controlled_Structure elements have a scope within the document for which their XPath is valid to reference.</xs:documentation>
					<xs:documentation>Usages of MarkingType may specify a "marking scope". The marking scope is always recursive and specifies the set of nodes that may be selected by the XPath expression (and therefore that may have the markings applied to them). If no marking scope is specified in the schema documentation or specification where the MarkingType is used, it should be assumed that the document itself and all nodes are within scope.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Marking_Structure" type="marking:MarkingStructureType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Marking_Structure property characterizes the marking information to be applied to a portion of STIX content as specified in the Controlled_Structure property.  Its underlying type is intended to be extended to enable the expression of any structured or unstructured data marking mechanism. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Information_Source" type="stixCommon:InformationSourceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Information_Source property characterizes the source of the data marking specification information.  Examples of details captured include identifying characteristics (e.g., who marked the data) and time-related attributes (e.g., when the data was marked).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:QName">
			<xs:annotation>
				<xs:documentation>The id property specifies a globally unique identifier for a data marking specification instance.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="idref" type="xs:QName">
			<xs:annotation>
				<xs:documentation>The idref property specifies a reference to the identifier of a data marking specification instance specified elsewhere; the referenced data marking should be evaluated as if it were located where the data marking reference is defined. When the idref property is used, the id property MUST NOT also be specified and the other properties of MarkingSpecificationType SHOULD NOT hold any content.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation>The version property specifies the version number of the STIX Data Marking data model used to capture the data marking associated with the STIX content.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
