report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cybox="http://docs.oasis-open.org/cti/ns/cybox/core-2" xmlns:report="http://docs.oasis-open.org/cti/ns/stix/report-1" xmlns:marking="http://docs.oasis-open.org/cti/ns/stix/data-marking-1" xmlns:stixCommon="http://docs.oasis-open.org/cti/ns/stix/common-1" xmlns:cyboxCommon="http://docs.oasis-open.org/cti/ns/cybox/common-2" xmlns:campaign="http://docs.oasis-open.org/cti/ns/stix/campaign-1" xmlns:coa="http://docs.oasis-open.org/cti/ns/stix/course-of-action-1" xmlns:et="http://docs.oasis-open.org/cti/ns/stix/exploit-target-1" xmlns:incident="http://docs.oasis-open.org/cti/ns/stix/incident-1" xmlns:indicator="http://docs.oasis-open.org/cti/ns/stix/indicator-1" xmlns:ta="http://docs.oasis-open.org/cti/ns/stix/threat-actor-1" xmlns:ttp="http://docs.oasis-open.org/cti/ns/stix/ttp-1" targetNamespace="http://docs.oasis-open.org/cti/ns/stix/report-1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="en">
	<xs:annotation>
		<xs:documentation>This schema was originally developed by The MITRE Corporation. The STIX XML Schema implementation is maintained by The MITRE Corporation and developed by the open STIX Community. For more information, including how to get involved in the effort and how to submit change requests, please visit the STIX website at http://stix.mitre.org. </xs:documentation>
		<xs:appinfo>
			<schema>STIX Report</schema>
			<version>1.0</version>
			<date>05/15/2015 9:00:00 AM</date>
			<short_description>Structured Threat Information eXpression (STIX) - Schematic implementation for a structured cyber threat expression language architecture.</short_description>
			<terms_of_use>Copyright (c) 2012-2015, The MITRE Corporation. All rights reserved. The contents of this file are subject to the terms of the STIX License located at http://stix.mitre.org/about/termsofuse.html. See the STIX License for the specific language governing permissions and limitations for use of this schema. When distributing copies of the STIX Schema, this license header must be included. </terms_of_use>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://docs.oasis-open.org/cti/ns/stix/common-1" schemaLocation="stix_common.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/cti/ns/cybox/core-2" schemaLocation="cybox/cybox_core.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/cti/ns/stix/data-marking-1" schemaLocation="data_marking.xsd"/>
	<xs:element name="Report" type="report:ReportType">
		<xs:annotation>
			<xs:documentation>The Report construct gives context to a grouping of STIX content.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReportType">
		<xs:annotation>
			<xs:documentation>ReportType defines a contextual wrapper for a grouping of STIX content.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stixCommon:ReportBaseType">
				<xs:sequence>
					<xs:element name="Header" type="report:HeaderType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Header field provides the contextual information for this grouping of STIX content.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Observables" type="cybox:ObservablesType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more cyber observables.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Indicators" type="report:IndicatorsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more cyber threat Indicators.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TTPs" type="report:TTPsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more cyber threat adversary Tactics, Techniques or Procedures.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Exploit_Targets" type="stixCommon:ExploitTargetsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more potential targets for exploitation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Incidents" type="report:IncidentsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more cyber threat Incidents.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Courses_Of_Action" type="report:CoursesOfActionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes Courses of Action to be taken in regards to one of more cyber threats.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Campaigns" type="report:CampaignsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more cyber threat Campaigns.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Threat_Actors" type="report:ThreatActorsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more cyber Threat Actors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Related_Reports" type="report:RelatedReportsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Characterizes one or more relationships to other Reports.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="version" type="report:ReportVersionEnum">
					<xs:annotation>
						<xs:documentation>Specifies the relevant Report schema version for this content.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ReportVersionEnum">
		<xs:annotation>
			<xs:documentation>An enumeration of all versions of Report types valid in the current release of STIX.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HeaderType">
		<xs:annotation>
			<xs:documentation>The HeaderType provides a structure for characterizing the contextual information in a Report of STIX content.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Title" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Title field provides a simple title for this Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Intent" type="stixCommon:ControlledVocabularyStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Intent field characterizes the intended purpose(s) or use(s) for this Report.</xs:documentation>
					<xs:documentation>This field is implemented through the xsi:type controlled vocabulary extension mechanism. The default vocabulary type is ReportIntentVocab-1.0 in the http://docs.oasis-open.org/cti/ns/stix/vocabularies-1 namespace. This type is defined in the stix_default_vocabularies.xsd file or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/vocabularies.xsd.</xs:documentation>
					<xs:documentation>Users may also define their own vocabulary using the type extension mechanism, specify a vocabulary name and reference using the attributes, or simply use this as a string field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="stixCommon:StructuredTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Description field provides a description of this Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Short_Description" type="stixCommon:StructuredTextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Short_Description field provides a short description of this Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Handling" type="marking:MarkingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the relevant handling guidance for this Report. The valid marking scope is the nearest ReportType ancestor of this Handling element and all its descendants.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Information_Source" type="stixCommon:InformationSourceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Information_Source field details the source of this Report, including time information as well as information about the producer, contributors, tools, and references.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!---->
	<xs:complexType name="IndicatorsType">
		<xs:sequence>
			<xs:element name="Indicator" type="stixCommon:IndicatorBaseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Characterizes a single cyber threat Indicator.</xs:documentation>
					<xs:documentation>	This field is implemented through the xsi:type extension mechanism. The default and strongly recommended type is IndicatorType in the http://docs.oasis-open.org/cti/ns/stix/indicator-1 namespace. This type is defined in the indicator.xsd file or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/indicator.xsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TTPsType">
		<xs:sequence>
			<xs:element name="TTP" type="stixCommon:TTPBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Characterizes a single cyber threat adversary Tactic, Technique or Procedure.</xs:documentation>
					<xs:documentation>This field is implemented through the xsi:type extension mechanism. The default and strongly recommended type is TTPType in the http://docs.oasis-open.org/cti/ns/stix/ttp-1 namespace. This type is defined in the ttp.xsd file or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/ttp.xsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncidentsType">
		<xs:sequence>
			<xs:element name="Incident" type="stixCommon:IncidentBaseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identifies or characterizes a single cyber threat Incident.</xs:documentation>
					<xs:documentation>This field is implemented through the xsi:type extension mechanism. The default and strongly recommended type is IncidentType in the http://docs.oasis-open.org/cti/ns/stix/incident-1 namespace. This type is defined in the incident.xsd file or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/incident.xsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoursesOfActionType">
		<xs:sequence>
			<xs:element name="Course_Of_Action" type="stixCommon:CourseOfActionBaseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Course_Of_Action field characterizes a Course of Action to be taken in regards to one of more cyber threats.</xs:documentation>
					<xs:documentation>	This field is implemented through the xsi:type extension mechanism. The default and strongly recommended type is CourseOfActionType in the http://docs.oasis-open.org/cti/ns/stix/course-of-action-1 namespace. This type is defined in the course_of_action.xsd file or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/course-of-action.xsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CampaignsType">
		<xs:sequence>
			<xs:element name="Campaign" type="stixCommon:CampaignBaseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Characterizes a single cyber threat Campaign.</xs:documentation>
					<xs:documentation>This field is implemented through the xsi:type extension mechanism. The default and strongly recommended type is CampaignType in the http://docs.oasis-open.org/cti/ns/stix/campaign-1 namespace. This type is defined in the campaign.xsd file or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/campaign.xsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreatActorsType">
		<xs:sequence>
			<xs:element name="Threat_Actor" type="stixCommon:ThreatActorBaseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Characterizes a single cyber Threat Actor.</xs:documentation>
					<xs:documentation>This field is implemented through the xsi:type extension mechanism. The default and strongly recommended type is ThreatActorType in the http://docs.oasis-open.org/cti/ns/stix/threat-actor-1 namespace. This type is defined in the threat_actor.xsd file or at the URL http://docs.oasis-open.org/cti/stix-1.2.1-xml-binding/v1.0/csd01/schemas/threat-actor.xsd.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatedReportsType">
		<xs:complexContent>
			<xs:extension base="stixCommon:GenericRelationshipListType">
				<xs:sequence>
					<xs:element name="Related_Report" type="stixCommon:RelatedReportType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The Related_Report field is optional and enables content producers to express a relationship between the enclosing report (i.e., the subject of the relationship) and a disparate report (i.e., the object side of the relationship).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
